extends ../../layout.pug
block contenido
	div.col-xs-6.remove-float.center-block.mid-top-space.bottom-space
		h1 Contesta la pregunta
		form(action="/app/contestar" method="POST")
			input(type="hidden" id="id" name="id" value=pregunta._id)
			div(class="form-group")
				//-<h3>
				<span class="pregunta">#{pregunta.pregunta}</span>
				//-</h3>
			//- div(class="form-group")
				label(for="respuesta") Respuesta
			- var opciones = [pregunta.opcion1, pregunta.opcion2, pregunta.opcion3, pregunta.opcion4];
			each opcion, i in opciones
				div(class="form-group")
					if(i==0)
						input(type="radio" name="respuesta" value=i+1 checked)
					else
						input(type="radio" name="respuesta" value=i+1)
					span #{opcion}
				//- select(class="form-control" id="respuesta" name="respuesta")
				//- option(value=i+1) #{opcion}
			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					div(class="form-group")
						input(type="submit" value="Guardar" class="btn btn-info")
				div(class="col-xs-12 col-sm-6 text-right")
					a(href="/app") Cancelar
